/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem;
  background-color: #1a202c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.brand-logo {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ed8936;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.brand-name {
  font-size: 1.25rem;
  color: #fff;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  gap: 6px; /* Reduced gap */
}

.menu-item {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  padding: 3px 6px;
}

.menu-item:hover {
  color:  #ed8936;
  border-radius: 10px;
}

.menu-hidden {
  display: none;
}

/* Welcome Animation */
.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem; 
}

.welcome-content {
  text-align: center;
  max-width: 800px; 
  margin: 0 auto; 
  padding: 0 1.5rem; 
}

.download-cv {
  background-color: #1a202c;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.download-cv a {
  color: #fff;
  text-decoration: none;
}

.download-cv:hover {
  background-color: #ed8936;
}

/* Intro Section */
.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

.intro-image {
  width: 280px; 
  height: auto; 
  border-radius: 10%; 
  margin-bottom: 10px; 
}



/* Services Section */
.services-section {
  background-color: #fff;
  padding: 4rem 2rem; 
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
}

.services-section h1 {
  color: #ed8936;
  font-weight: bold;
  font-size: 2.5rem;
}

.services-section p {
  max-width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  color: #718096;
}

.services-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  flex: 1 1 18rem; 
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 1rem;
  text-align: left;
  max-width: 250px; 
}

.service-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.service-card h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #4a5568;
}

.service-card p {
  color: #718096;
  margin-bottom: 1rem;
}

.service-card a {
  color: #48bb78;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
}

.service-card a:hover {
  color: #38a169;
}



/* Experience Section */
.experience-section {
  text-align: center;
  padding: 4rem 2rem; 
  margin-left: auto; 
  margin-right: auto; 
}

.experience-section h1 {
  color: #ed8936;
  font-weight: bold;
  font-size: 2.5rem;
}

.experience-section p {
  max-width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  color: #718096;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem; 
}

.project-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px; 
  width: calc(59% - 1rem); 
  max-width: 280px; 
}

.project-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.project-card p {
  color: #718096;
  margin-bottom: 1rem;
}

.project-card a {
  color: #1a202c;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
}

.project-card a:hover {
  color: #ed8936;
}




/* Footer */
.footer-section {
  background-color: #1a202c;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}
.footer-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem; 
  padding: 0; 
  list-style: none;
}

.contact-links li {
  margin: 0.25rem; 
  text-align: center;
}

.contact-links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  transition: color 0.3s;
}

.contact-links a:hover {
  color: #ed8936;
}



/* Responsive Design */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    background-color: #1a202c;
    transition: top 0.3s, opacity 0.3s;
  }

  .menu-hidden {
    top: -400px;
    opacity: 0;
  }

  .menu-item {
    margin: 1rem 0;
    text-align: center;
  }

}

@media (max-width: 768px) {
  .contact-links li {
    flex: 1 1 100%; /* Full width on smaller screens */
    margin-bottom: 0.5rem;
  }
}

